/* body {
    margin: 0;
    font-family: "Montserrat", Arial, sans-serif;
    float: left;
} */

.sidebar {
  width: 15%;
  height: calc(100vh - 3.5rem);
  background: #1d4ed8; /* Tailwind blue-700 */
  color: #fff;
  padding: 20px 25px;
  box-sizing: border-box;
  float: left;
  margin-right: 2rem;
}

/* Logo */
.logo {
  text-align: center;
  margin-bottom: 30px;
}

.logo img {
  width: 14rem;
  height: auto;
}

.logo-text {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}

/* Menu */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  width: 14rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.menu li a {
  display: block;

  padding: 10px 12px;
  margin: 6px 0;
  width: 100%;
  height: 100%;
}

.menu li i {
  margin-right: 8px;
  width: 18px;
  text-align: center;
}

.menu li:hover {
  background: rgba(255, 255, 255, 0.15);
  padding-left: 1rem;
}

.menu .active {
  background: #fff;
  color: #1d4ed8;
  font-weight: bold;
}

.menu .active:hover {
  background: #fff;
  color: #1d4ed8;
  font-weight: bold;
}

/* Notification badge */
.badge {
  position: relative;
  background: white;
  width: 1.5rem;
  height: 1.5rem;
  color: blue;
  /* padding: 2px 6px; */
  border-radius: 50%;
  font-size: 11px;
  float: right;
  margin-right: 20px;
  margin-top: 2px;
}

.badge-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  font-weight: bold;
}

.menu .active .badge {
  background: #1d4ed8;
  color: #fff;
  font-weight: bold;
}

/* User info */
.user-box {
  display: flex;
  background: #fff;
  /* width: 15.5rem; */
  width: 13.5rem;
  color: #1d4ed8;
  text-align: center;
  border-radius: 6px;
  padding: 15px;
  margin-top: 40px;
  position: absolute;
  bottom: 10px;
  clear: both;
}

.user-box .avatar {
  font-size: 52px;
  margin-bottom: 8px;
  margin-right: 1rem;
}

.user-box p {
  margin: 0;
  font-size: 18px;
}
.user-box small {
  font-size: 16px;
  color: #555;
}

.logout {
  margin-top: 10px;
  width: 100%;
  background: #1d4ed8;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.logout:hover {
  background: #2563eb; /* lighter blue */
}

/* Toast container (fixed at top-center) */
#toast-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%); /* for FF28 */
  z-index: 9999;
}

/* Toast notification box */
.toast {
  min-width: 250px;
  margin: 5px 0;
  color: #fff;
  padding: 12px 20px;
  border-radius: 4px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out; /* FF28 */
}

.toast.show {
  opacity: 1;
}